h1{color:#00864e ;}
body{
    background-color:#33ffaa69 ;
}  
    font-family:Arial, Helvetica, sans-serif ;
background: ;

h1{
    color:99cccc ;
    font-family:bold ;
    background: 9c0c 100px; 
    }
   <p> font-sizi: 100px <P>

}